@media (max-width: 990px) {
    .nav-list{
        gap: 0;
        padding-top: 10px;
    }
    .nav-item__link{
        font-size: 12px;
    }
    .log-btn{
        padding: 6px 12px;
    }
    .code__text-title{
        font-size: 52px;
    }
    .code__text-subtitle{
        font-size: 20px;
    }
    .ready-code-img{
        width: 100%;
        overflow: hidden;
        height: 60%;
    }
    .main-content{
        padding: 80px 0px;
    }
    .main-content__title{
        font-size: 42px;
        margin-bottom: 100px;
    }
    .main-content__img{
        width: 50%;
    }
    .cross-platform{
        margin-bottom: 110px;
    }
    .cross-platform__title{
        font-size: 50px;
    }
    .workspaces-item__text{
        font-size: 12px;
    }
    .workspace-btn{
        font-size: 8px;
    }
    .get-started {
        margin-bottom: 110px;
    }
}

@media (max-width: 870px) {
    .workspaces-item{
        padding: 5px 16px;
    }
    .workspaces-item__text{
        display: none;
    }
    .section__title{
        font-size: 28px;
    }
    .section__subtitle{
        font-size: 20px;
    }
    .connect-git__text{
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .code__text-title{
        font-size: 32px;
        line-height: 54px;
    }
    .code__text-subtitle{
        font-size: 16px;
    }
    .try-now__btn{
        padding: 6px 46px;
        font-size: 16px;
    }

    .main-content__title{
        font-size: 36px;
        margin-bottom: 70px;
    }
    .info-text__title{
        font-size: 28px;
    }
    .info-text__subtitle{
        font-size: 20px;
    }
    .info-text__btns{
        margin-top: 60px;
    }
    .main-content__img{
        align-self: center;
    }
    .info__btn{
        padding: 10px 10px;
        font-size: 13px;
    }
    .cross-platform__title{
        font-size: 48px;
    }
    .cross-platform__text{
        font-size: 18px;
    }
    .cross-platform{
        margin-bottom: 70px;
    }
    .reviews__title{
        font-size: 48px;
    }
    .swiper-slide{
        font-size: 16px;
        line-height: 18px;
    }
    .companies{
        margin-top: 80px;
    }
    .get-started__inner{
        flex-direction: column;
    }
    .get-started__connect-git{
        width: 100%;
    }
    .workspaces{
        width: 100%;
    }
    .workspaces-item{
        flex-direction: row;
        gap: 10px;
    }
    .workspaces-item__text{
        display: block;
    }
    .workspace-btn, .workspaces-item__text{
        font-size: 14px;
    }
    .get-started {
        margin-bottom: 80px;
    }
}

@media (max-width: 700px) {
    .log-btn{
        padding: 0 12px;
    }
    .ready-code__inner{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .footer{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .footer-list{
        flex-wrap: wrap;
        gap: 20px;
        padding-bottom: 25px;
    }
    .footer-item{
        width: 35%;

    }
    .footer-item__link{
        font-size: 12px;
    }
    .cookies-text{
        font-size: 12px;
    }
    .cookies-btn{
        text-align: center;
    }
    .main-content__title{
        font-size: 24px;
    }
    .main-content__info {
        align-items: center;
        flex-direction: column;
    }

    .info-text__title{
        font-size: 20px;
    }
    .info-text__subtitle{
        font-size: 16px;
    }
    .info-text__btns{
        justify-content: center;
        margin-bottom: 20px;
    }
    .info__btn{
        font-size: 12px;
    }
    .main-content__img {
        width: 100%;
    }
    .cross-platform__title{
        font-size: 28px;
    }
    .extension-item__title{
        font-size: 12px;
    }

    .reviews__title{
        font-size: 28px;
    }

@keyframes marquee {
    0% {
        transform: translateX(115%);
        transform-origin: left center;
    }

    100% {
        transform: translateX(-340%);
        transform-origin: right center;
    }
}

    .reviews {
        height: 85vh;
    }
    .get-started__workspaces{
        padding: 30px;
    }
    .workspaces-item__text{
        display: none;
    }
    .workspace-btn{
        font-size: 10px;
        text-align: center;
    }
    .connect-list__item{
        width: 100%;
        height: 80px;
        min-width: 150px;
    }
    .connect-item__text{
        font-size: 12px;
    }
    .section__title {
        font-size: 24px;
    }
    .section__subtitle {
        font-size: 16px;
    }
    .connect-list{
        margin-bottom: 30px;
    }
    .section__subtitle{
        line-height: 24px;
    }

}


@media (max-width: 320px){
    .code__text-subtitle{
        margin-bottom: 10px;
    }
    .try-now__btn{
        font-size: 12px;
    }
    .cross-platform__text{
        font-size: 14px;
    }
    @keyframes marquee {
        0% {
            transform: translateX(115%);
            transform-origin: left center;
        }

        100% {
            transform: translateX(-550%);
            transform-origin: right center;
        }
    }
    .get-started {
        margin-bottom: 60px;
    }
}