@import url(css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

body {
  font-family: 'Roboto', sans-serif;
  color: #12100C;
  font-size: 14px;
  background: #F5F3F4; }

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px; }

.footer-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 24px; }

.footer {
  padding-top: 48px;
  padding-bottom: 32px;
  background-color: white; }

.footer-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px; }

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 8px; }

.footer-item__title {
  font-size: 13px;
  font-weight: 700;
  margin: 0; }

.footer-item__link {
  font-size: 13px;
  opacity: 0.7;
  max-width: 100px;
  transition: all 0.5s; }
  .footer-item__link:hover {
    color: #FF8A00;
    opacity: 1; }

.footer-copyright {
  display: flex;
  justify-content: space-between; }

.footer-copyright__left {
  display: flex;
  align-items: center;
  gap: 10px; }

.footer-text {
  font-size: 12px;
  opacity: 0.7; }

.footer-copyright__right {
  display: flex;
  gap: 16px; }

.cookies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ECE7E5;
  padding: 0 15px; }

.cookies-text {
  opacity: 0.7; }
  .cookies-text span {
    text-decoration: underline;
    opacity: 0.6;
    cursor: pointer; }

.cookies-btn {
  opacity: 0.7;
  background: white;
  border-radius: 9px;
  padding: 4px 24px;
  transition: all 0.5s; }
  .cookies-btn:hover {
    background-color: #FF8A00;
    color: white; }
