@import url(css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

body {
  font-family: 'Roboto', sans-serif;
  color: #12100C;
  font-size: 14px;
  background: #F5F3F4; }

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px; }

.reviews {
  height: 100vh; }

.swiper {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.swiper-slide {
  width: 80%; }

.swiper-slide:nth-child(2n) {
  width: 60%; }

.swiper-slide:nth-child(3n) {
  width: 40%; }

.swiper-slide {
  flex-basis: 384px;
  border-radius: 9px;
  padding: 15px;
  text-align: left; }

.swiper {
  width: 100%;
  height: 100%; }

.swiper .swiper-slide {
  height: auto; }

.swiper-slide img {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
  border-radius: 15px; }

.swiper-pagination-bullets {
  display: none; }

.reviews__title {
  font-size: 54px;
  font-weight: 700;
  text-align: center; }

.review-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  border-radius: 16px; }

.mySwiper .swiper-wrapper {
  transition-timing-function: linear; }

.review-text {
  line-height: 22px;
  height: 120px; }

.review-item__info {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  align-items: center; }

.review-info__text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px; }

.reviewer__name {
  margin: 0;
  font-weight: 700; }

.reviewer__text {
  text-align: left; }
  .reviewer__text span {
    font-weight: 700; }

.companies {
  margin-top: 130px; }

.companies__inner {
  background: white;
  overflow: hidden; }

.companies__list {
  display: flex;
  align-items: center;
  animation: marquee 7s infinite linear; }

@keyframes marquee {
  from {
    transform: translateX(115%);
    transform-origin: left center; }
  to {
    transform: translateX(-110%);
    transform-origin: right center; } }
