@import "css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$mainColor: #12100C;
$secColor: #12100CB2;


a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $mainColor;
  font-size: 14px;
  background: #F5F3F4;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.get-started__title {
  font-size: 54px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.get-started__inner{
  display: flex;
  justify-content: center;
  gap: 26px;
}


.get-started__connect-git {
  padding: 56px;
  background: white;
  border-radius: 20px;
  width: 50%;
}


.section__title{
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
}

.section__subtitle, .connect-git__text{
  font-size: 24px;
  line-height: 32px;
  color: $mainColor;
  opacity: 0.7;
  max-width: 530px;
  text-align: center;
}
.connect-git__subtitle{
  margin-bottom: 62px;
}

.connect-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 64px;
}

.connect-list__item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0px 33px;
  min-width: 210px;
  border-radius: 12px;
  cursor: pointer;
  & img {
    height: 28px;
    width: 28px;
  }
}

.connect-item{
  transition: all 0.7s;
  &:hover{
    transform: scale(1.04);
  }
}

.connect-item__text {
  font-weight: 700;
  color: white;
}

.connect-GitLab {
  background: #FC6D26;
}

.connect-GitHub {
  background: black;

}

.connect-BitBucket {
  background: #2684FF;
}

.connect-git__text{
  margin-bottom: 0;
}

.git-link{
  display: flex;
  justify-content: center;
}
.connect-git__link{
  padding: 5px 20px;
  font-size: 24px;
  line-height: 32px;
  border-radius: 12px;
  background: #FFE4BC;
  color: rgba(18, 16, 12, 0.7);
  transition: all 0.7s;
  &:hover{
    transform: scale(1.04);
  }
}

.get-started__workspaces{
  padding: 56px;
  background: white;
  border-radius: 20px;
  width: 50%;

}
.workspaces__list{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.workspaces-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 495px;
  padding: 0px 16px;
  background-color: #F9F9F9;
  border-radius: 12px;
  width: 100%;
}
.workspaces-item__text{
  font-size: 20px;
  text-align: center;
  color: #12100C;
  opacity: 0.7;
}
.workspaces-item__info{
  display: flex;
  align-items: center;
  gap: 16px;
}
.workspace-btn{
  background-color: #12100C;
  border-radius: 12px;
  padding: 8px 12px;
  color: #FFFFFF;

  transition: all 0.7s;

  &:hover{
    color: #12100C;
    background-color: white;
    border: 1px solid rgba(18, 16, 12, 0.7);
  }
}