@import "css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$mainColor:#12100C;
$secColor:#12100CB2;


a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}

body{
  font-family: 'Roboto', sans-serif;
  color: $mainColor;
  font-size: 14px;
}

.container{
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}


